<section class="text-white mb-32 md:mb-0">
  <div
    class="grid grid-cols-1 gap-20 md:gap-0 md:grid-cols-2 items-center place-items-center md:place-items-start text-md mt-10 md:mt-32 leading-7"
  >
    <div
      class="order-2 md:order-1 text-center md:text-start text-[13px] sm:text-[15px] ms-0 ps-0"
    >
      <h1>
        Hey there! 👋 I'm
        <span class="main-color font-bold">Hager Mostafa</span>,
      </h1>
      <p>
        A passionate Web Developer<br />
        who loves
        <span #typedContainer class="main-color font-bold"></span>
      </p>
      <p>
        🚀 Welcome to my portfolio! Here, you'll find a collection of my
        projects, <br />where creativity meets code. I built this space to
        showcase my work, skills,<br />
        and journey in web development. Hope you enjoy<br />
        exploring it as much as I enjoyed building it! 💡✨"
      </p>
    </div>
    <div
      class="img w-[250px] h-[250px] flex items-center md:ms-auto justify-center order-1 md:order-2 border-[1px] border-[#AC1754] rounded-full shadow-[0_10px_30px_#AC1754]"
    >
      <img
        class="w-[100%]"
        src="/computer-technology-illuminates-modern-office-with-creativity-connection-generated-by-artificial-intelligence-removebg-preview.png"
        alt=""
      />
    </div>
    <!-- ========== router -->
  </div>
  <div class="w-full text-center md:text-start">
    <button
      (click)="downloadFile()"
      class="bg-main w-fit mx-auto shadow-[0_3px_10px_#AC1754] text-[13px] rounded-[55px] py-1 px-6 mt-3 bg-opacity-70 hover:bg-opacity-40 hover:shadow-[0_10px_30px_#AC1754]"
    >
      Download CV
    </button>
  </div>
</section>
