<section class="text-white mb-32 md:mb-0">
  <h2
    class="text-4xl font-bold w-fit py-3 mt-5 mb-10 mx-auto relative before:content-[''] before:w-[50%] before:h-[1px] before:bg-main before:absolute before:bottom-0 before:left-[20%]"
  >
    About<span class="text-main"> Me</span>
  </h2>
  <div
    class="grid grid-cols-1 gap-20 md:gap-0 md:grid-cols-2 items-center place-items-center md:place-items-start text-md mt-10 md:mt-20 leading-7"
  >
    <div
      class="order-2 md:order-1 text-center md:text-start text-[13px] sm:text-[15px] ms-0 ps-0"
    >
      <p>
        Hi there! I'm <span class="text-main">Hager Mostafa</span>, a Front-End
        Web Developer specializing in <span class="text-main"> Angular </span>.
        I'm currently working on more projects, with a strong focus on software
        development and web applications. My expertise includes
        <span class="text-main"
          >Angular, TypeScript, HTML, CSS, and JavaScript </span
        >, allowing me to build dynamic, scalable, and high-performance web
        applications. I also leverage frameworks like<span class="text-main"
          >Bootstrap and Tailwind CSS
        </span>
        to create sleek, responsive, and interactive user interfaces. I’m
        passionate about continuous learning, exploring the latest web
        technologies, and improving user experiences through well-structured,
        maintainable code. 🚀 Let’s build something amazing together! Feel free
        to explore my projects and connect with me on
        <span class="text-main">GitHub.</span>
      </p>
    </div>
    <div
      class="img w-[250px] h-[250px] flex items-center md:ms-auto justify-center order-1 md:order-2 border-[1px] border-[#AC1754] rounded-full shadow-[0_10px_30px_#AC1754]"
    >
      <img
        class="w-[100%]"
        src="/computer-technology-illuminates-modern-office-with-creativity-connection-generated-by-artificial-intelligence-removebg-preview.png"
        alt=""
      />
    </div>
  </div>
</section>
