<section class="text-white">
  <h2
    class="text-4xl font-bold w-fit py-3 mb-10 mt-10 mx-auto relative before:content-[''] before:w-[50%] before:h-[1px] before:bg-main before:absolute before:bottom-0 before:left-[20%]"
  >
    My<span class="text-main"> Projects</span>
  </h2>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-16 gap-7 place-items-center"
  >
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#" class="w-full">
        <img
          class="rounded-t-lg h-[191px] w-full"
          src="/pics/Screenshot 2025-11-17 195442.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Eat ‘N Split
            <span class="text-main text-[11px]">Nov 16 , 2025</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Css
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            React JS
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          Building Eat ‘N Split helped me understand how to think in React,
          structure components properly, and write cleaner and more maintainable
          code. A small project, but a big milestone for me.
        </p>

        <a
          href="https://eat-split-dusky.vercel.app/"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/Eat-split.git"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#" class="w-full">
        <img
          class="rounded-t-lg h-[191px] w-full"
          src="/pics/Screenshot 2025-10-28 190255.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Task Manager (Advanced)
            <span class="text-main text-[11px]">Oct 25 , 2025</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Css
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Angular
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          🔄 Real-time task updates and user collaboration 🧠 Smart search and
          filters with debounceTime ✅ Advanced CRUD operations with signals
          state management 🔔 Custom notification service using RxJS Subjects
        </p>

        <a
          href="https://advanced-task-management-a5rv.vercel.app/alltasks"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/Advanced-task-management.git"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#" class="w-full">
        <img
          class="rounded-t-lg h-[191px] w-full"
          src="/pics/Screenshot 2025-06-27 210746.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Purchase Invoice
            <span class="text-main text-[11px]">June 25 , 2025</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Angular Material
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Tailwind
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Angular
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          Purchase Invoice UI with Angular! I built from scratch using Angular +
          Angular Material .
        </p>

        <a
          href="https://vercel.com/hager-mostafas-projects/purchase-invoice"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/purchase-invoice.git"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px]"
          src="/pics/Screenshot 2025-03-16 230310.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            E-commerce
            <span class="text-main text-[11px]">Feb 29 , 2025</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Tailwind
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            scss
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Angular
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          his is a modern and responsive E-Commerce web application designed for
          seamless online shopping.
        </p>

        <a
          href="https://vercel.com/hager-mostafas-projects/e-commerce-hxne"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/E-commerce"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px]"
          src="/pics/Screenshot 2025-03-16 195807.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Small E-commerce (JSON)
            <span class="text-main text-[11px]">Jan 12 , 2025</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            BootStrap
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Angular
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          App built with Angular is a frontend web application that allows users
          to browse, search, and purchase products
        </p>

        <a
          href="https://vercel.com/hager-mostafas-projects/mini-e-commerce-json"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/mini-e-commerce-json"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px]"
          src="/pics/Screenshot 2025-06-27 211717.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 capitalize text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            ngrx-state-management
            <span class="text-main text-[11px]">Apr 1 , 2025</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            NgRx
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Tailwind
          </span>
        </div>
        <p class="capitalize my-3 mb-4 text-sm font-normal text-gray-300">
          ngular Advanced Project Completed – CRM & Real-Time Dashboard App
        </p>

        <a
          href="https://vercel.com/hager-mostafas-projects/ngrx-state-management"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/ngrx-state-management.git"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px]"
          src="/pics/Screenshot 2025-03-16 201931.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Tailwind Project
            <span class="text-main text-[11px]">Feb 1 , 2025</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Tailwind
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          A Tailwind CSS Project is a frontend web application built using
          Tailwind CSS
        </p>

        <a
          href="https://vercel.com/hager-mostafas-projects/tailwind1"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/tailwind1"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px] w-full"
          src="/pics/Screenshot 2025-03-16 233056.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Akira
            <span class="text-main text-[11px]">Aug 2 , 2024</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            CSS
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            BootStrap
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          Akira is a modern and stylish landing page designed with a sleek and
          minimalistic UI. Built using HTML, CSS, and JavaScript, it features
          smooth animations
        </p>

        <a
          href="https://hager445.github.io/akira/"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/akira"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px] w-full"
          src="/pics/Screenshot 2025-03-16 223813.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Daniel Portfolio
            <span class="text-main text-[11px]">Dec 2 , 2024</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            CSS
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            BootStrap
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          Daniel Portfolio is a responsive and modern personal portfolio website
        </p>

        <a
          href="https://hager445.github.io/Daniel/"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/Daniel"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px] w-full"
          src="/pics/Screenshot 2025-03-16 225623.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Mealify.
            <span class="text-main text-[11px]">Oct 24 , 2024</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            CSS
          </span>

          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            BootStrap
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          Mealify is a modern and responsive restaurant website designed to
          showcase delicious meals with an elegant and user-friendly interface
        </p>

        <a
          href="https://hager445.github.io/mealify2/"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="hhttps://github.com/hager445/mealify2"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px]"
          src="/pics/Screenshot 2025-03-16 000811.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Bookmark
            <span class="text-main text-[11px]">Oct 24 , 2024</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            CSS
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            BootStrap
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          Bookmark Manager is a web application that allows users to save and
          organize important links
        </p>

        <a
          href="https://bookmark-gray-three.vercel.app/"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/bookmark"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
    <div
      class="max-w-sm bg-gray-900 rounded-lg shadow-3xl bg-opacity-60 hover:shadow-md hover:shadow-main hover:translate-y-[-5px] hover:bg-opacity-90 transition-all duration-300"
    >
      <a href="#">
        <img
          class="rounded-t-lg h-[191px]"
          src="/pics/Screenshot 2025-03-16 194126.png"
          alt=""
        />
      </a>
      <div class="p-5">
        <a href="#">
          <h5
            class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
          >
            Todo API
            <span class="text-main text-[11px]">Nov 10 , 2024</span>
          </h5>
        </a>
        <div class="my-3 space-x-3 space-y-3">
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            Html
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            CSS
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            JavaScript
          </span>
          <span
            class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
          >
            BootStrap
          </span>
        </div>
        <p class="my-3 mb-4 text-sm font-normal text-gray-300">
          A To-Do API App is a backend service that allows users to manage their
          tasks efficiently.
        </p>

        <a
          href="https://hager445.github.io/todo-api/"
          class="inline-flex items-center px-3 py-1 text-[13px] text-center text-white bg-main rounded-3xl"
        >
          Live Demo
        </a>
        <a
          href="https://github.com/hager445/todo-api"
          class="inline-flex items-center ms-5 px-3 py-1 text-[13px] text-center text-white bg-black bg-opacity-90 rounded-3xl"
        >
          GitHub
        </a>
      </div>
    </div>
  </div>
</section>
